body{
    background-color: teal;
    text-align: center;
    /*background-image: url("../img/pressed.gif");*/
}
.head{
    font: 24px bold black;
}
.container{
    width: 1000px;
    margin: auto;
    background-image: url("../img/PressedExitScreen.png");
    background-repeat: no-repeat;
    background-position: center;
}
.row{
    height: 60px;
    animation-name: hideNow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes hideNow{
    0%  {opacity:100}
    56% {opacity:100}
    58% {opacity:0}
    100% {opacity:0}
}
.buttonSpace{
    position: relative;
    bottom: 50px;
}
button{
    font-size: 24px;
    background-color: orange;
}
#row1 > div{
    height: 60px;
    float:left;
    width: 14%;
    background-color: white;
    animation-name: row1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#row2 > div{
    height: 60px;
    float:left;
    width: 14%;
    background-color: white;
    animation-name: row2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#row3 > div{
    height: 60px;
    float:left;
    width: 14%;
    background-color: white;
    animation-name: row3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#row4 > div{
    height: 60px;
    float:left;
    width: 14%;
    background-color: white;
    animation-name: row4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#row5 > div{
    height: 60px;
    float:left;
    width: 14%;
    background-color: white;
    animation-name: row5;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#row6 > div{
    height: 60px;
    float:left;
    width: 14%;
    background-color: white;
    animation-name: row6;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#row7 > div{
    height: 60px;
    float:left;
    width: 14%;
    background-color: white;
    animation-name: row7;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes row1 {
    0%   {background-color:white; order: 1px solid black;}
    2%  {background-color:khaki;}
    4%  {background-color:white;}
    6%  {background-color:white;}
    8%  {background-color:white;}
    10%  {background-color:white;}
    12%  {background-color:white;}
    14%  {background-color:white;}
    16%  {background-color:white;}
    18%  {background-color:white;}
    20%  {background-color:khaki;}
    22%  {background-color:white;}
    24%  {background-color:white;}
    26%  {background-color:white;}
    28%  {background-color:white;}
    30%  {background-color:white;}
    32%  {background-color:white;}
    34%  {background-color:white;}
    36%  {background-color:white;}
    38%  {background-color:white;}
    40%  {background-color:khaki;}
    42%  {background-color:white;}
    44%  {background-color:white;}
    46%  {background-color:white;}
    48%  {background-color:white;}
    50%  {background-color:white;}
    52%  {background-color:white;}
    54%  {background-color:white;}
    56%  {background-color:white;}
    58%  {background-color:white;}
    60%  {background-image:lightcoral;}
    62%  {background-color:lightcoral;}
    64%  {background-color:lightcoral;}
    66%  {background-color:lightcoral;}
    68%  {background-color:lightcoral;}
    70%  {background-color:lightcoral;}
    72%  {background-color:lightcoral;}
    74%  {background-color:lightcoral;}
    76%  {background-color:lightcoral;}
    78%  {background-color:lightcoral;}
    80%  {background-color:lightcoral;}
    82%  {background-color:lightcoral;}
    84%  {background-color:lightcoral;}
    86%  {background-color:lightcoral;}
    88%  {background-color:lightcoral;}
    90%  {background-color:lightcoral;}
    92%  {background-color:lightcoral;}
    94%  {background-color:lightcoral;}
    96%  {background-color:lightcoral;}
    98%  {background-color:lightcoral;}
    100%  {background-color:white;}
    }
@keyframes row2 {
    0%   {background-color:white;}
    2%  {background-color:white;}
    4%  {background-color:khaki;}
    6%  {background-color:white;}
    8%  {background-color:white;}
    10%  {background-color:white;}
    12%  {background-color:white;}
    14%  {background-color:white;}
    16%  {background-color:white;}
    18%  {background-color:white;}
    20%  {background-color:white;}
    22%  {background-color:khaki;}
    24%  {background-color:white;}
    26%  {background-color:white;}
    28%  {background-color:white;}
    30%  {background-color:white;}
    32%  {background-color:white;}
    34%  {background-color:white;}
    36%  {background-color:white;}
    38%  {background-color:white;}
    40%  {background-color:white;}
    42%  {background-color:khaki;}
    44%  {background-color:white;}
    46%  {background-color:white;}
    48%  {background-color:white;}
    50%  {background-color:white;}
    52%  {background-color:white;}
    54%  {background-color:white;}
    56%  {background-color:white;}
    58%  {background-color:white;}
    60%  {background-color:lightcoral;}
    62%  {background-color:lightcoral;}
    64%  {background-color:lightcoral;}
    66%  {background-color:lightcoral;}
    68%  {background-color:lightcoral;}
    70%  {background-color:lightcoral;}
    72%  {background-color:lightcoral;}
    74%  {background-color:lightcoral;}
    76%  {background-color:lightcoral;}
    78%  {background-color:lightcoral;}
    80%  {background-color:lightcoral;}
    82%  {background-color:lightcoral;}
    84%  {background-color:lightcoral;}
    86%  {background-color:lightcoral;}
    88%  {background-color:lightcoral;}
    90%  {background-color:lightcoral;}
    92%  {background-color:lightcoral;}
    94%  {background-color:lightcoral;}
    96%  {background-color:white;}
    98%  {background-color:white;}
    100%  {background-color:white;}
    }
@keyframes row3 {
    0%   {background-color:white;}
    2%  {background-color:white;}
    4%  {background-color:white;}
    6%  {background-color:khaki;}
    8%  {background-color:white;}
    10%  {background-color:white;}
    12%  {background-color:white;}
    14%  {background-color:white;}
    16%  {background-color:white;}
    18%  {background-color:gray;}
    20%  {background-color:gray;}
    22%  {background-color:gray;}
    24%  {background-color:khaki;}
    26%  {background-color:green;}
    28%  {background-color:green;}
    30%  {background-color:green;}
    32%  {background-color:green;}
    34%  {background-color:green;}
    36%  {background-color:green;}
    38%  {background-color:green;}
    40%  {background-color:green;}
    42%  {background-color:green;}
    44%  {background-color:green;}
    46%  {background-color:green;}
    48%  {background-color:green;}
    50%  {background-color:green;}
    52%  {background-color:green;}
    54%  {background-color:green;}
    56%  {background-color:green;}
    58%  {background-color:green;}
    60%  {background-color:lightcoral;}
    62%  {background-color:lightcoral;}
    64%  {background-color:lightcoral;}
    66%  {background-color:lightcoral;}
    68%  {background-color:lightcoral;}
    70%  {background-color:lightcoral;}
    72%  {background-color:lightcoral;}
    74%  {background-color:lightcoral;}
    76%  {background-color:lightcoral;}
    78%  {background-color:lightcoral;}
    80%  {background-color:lightcoral;}
    82%  {background-color:lightcoral;}
    84%  {background-color:lightcoral;}
    86%  {background-color:lightcoral;}
    88%  {background-color:lightcoral;}
    90%  {background-color:lightcoral;}
    92%  {background-color:lightcoral;}
    94%  {background-color:lightcoral;}
    96%  {background-color:white;}
    98%  {background-color:white;}
    100%  {background-color:white;}
    }
@keyframes row4 {
    0%   {background-color:white;}
    2%  {background-color:white;}
    4%  {background-color:white;}
    6%  {background-color:white;}
    8%  {background-color:khaki;}
    10%  {background-color:white;}
    12%  {background-color:white;}
    14%  {background-color:white;}
    16%  {background-color:white;}
    18%  {background-color:white;}
    20%  {background-color:white;}
    22%  {background-color:white;}
    24%  {background-color:white;}
    26%  {background-color:khaki;}
    28%  {background-color:white;}
    30%  {background-color:white;}
    32%  {background-color:white;}
    34%  {background-color:white;}
    36%  {background-color:white;}
    38%  {background-color:white;}
    40%  {background-color:white;}
    42%  {background-color:white;}
    44%  {background-color:white;}
    46%  {background-color:khaki;}
    48%  {background-color:white;}
    50%  {background-color:white;}
    52%  {background-color:white;}
    54%  {background-color:white;}
    56%  {background-color:white;}
    58%  {background-color:white;}
    60%  {background-color:lightcoral;}
    62%  {background-color:lightcoral;}
    64%  {background-color:lightcoral;}
    66%  {background-color:lightcoral;}
    68%  {background-color:lightcoral;}
    70%  {background-color:lightcoral;}
    72%  {background-color:lightcoral;}
    74%  {background-color:lightcoral;}
    76%  {background-color:lightcoral;}
    78%  {background-color:lightcoral;}
    80%  {background-color:lightcoral;}
    82%  {background-color:lightcoral;}
    84%  {background-color:lightcoral;}
    86%  {background-color:lightcoral;}
    88%  {background-color:lightcoral;}
    90%  {background-color:lightcoral;}
    92%  {background-color:lightcoral;}
    94%  {background-color:lightcoral;}
    96%  {background-color:white;}
    98%  {background-color:white;}
    100%  {background-color:white;}
    }
@keyframes row5 {
    0%   {background-color:gray;}
    2%  {background-color:gray;}
    4%  {background-color:gray;}
    6%  {background-color:gray;}
    8%  {background-color:gray;}
    10%  {background-color:khaki;}
    12%  {background-color:green;}
    14%  {background-color:green;}
    16%  {background-color:green;}
    18%  {background-color:green;}
    20%  {background-color:green;}
    22%  {background-color:green;}
    24%  {background-color:green;}
    26%  {background-color:green;}
    28%  {background-color:green;}
    30%  {background-color:green;}
    32%  {background-color:green;}
    34%  {background-color:green;}
    36%  {background-color:green;}
    38%  {background-color:green;}
    40%  {background-color:green;}
    42%  {background-color:green;}
    44%  {background-color:green;}
    46%  {background-color:green;}
    48%  {background-color:green;}
    50%  {background-color:green;}
    52%  {background-color:green;}
    54%  {background-color:green;}
    56%  {background-color:green;}
    58%  {background-color:green;}
    60%  {background-color:lightcoral;}
    62%  {background-color:lightcoral;}
    64%  {background-color:lightcoral;}
    66%  {background-color:lightcoral;}
    68%  {background-color:lightcoral;}
    70%  {background-color:lightcoral;}
    72%  {background-color:lightcoral;}
    74%  {background-color:lightcoral;}
    76%  {background-color:lightcoral;}
    78%  {background-color:lightcoral;}
    80%  {background-color:lightcoral;}
    82%  {background-color:lightcoral;}
    84%  {background-color:lightcoral;}
    86%  {background-color:lightcoral;}
    88%  {background-color:lightcoral;}
    90%  {background-color:lightcoral;}
    92%  {background-color:lightcoral;}
    94%  {background-color:lightcoral;}
    96%  {background-color:white;}
    98%  {background-color:white;}
    100%  {background-color:white;}
    }
@keyframes row6 {
    0%   {background-color:white;}
    2%  {background-color:white;}
    4%  {background-color:white;}
    6%  {background-color:white;}
    8%  {background-color:white;}
    10%  {background-color:white;}
    12%  {background-color:khaki;}
    14%  {background-color:white;}
    16%  {background-color:white;}
    18%  {background-color:white;}
    20%  {background-color:white;}
    22%  {background-color:white;}
    24%  {background-color:white;}
    26%  {background-color:white;}
    28%  {background-color:white;}
    30%  {background-color:white;}
    32%  {background-color:khaki;}
    34%  {background-color:white;}
    36%  {background-color:white;}
    38%  {background-color:gray;}
    40%  {background-color:gray;}
    42%  {background-color:gray;}
    44%  {background-color:gray;}
    46%  {background-color:gray;}
    48%  {background-color:gray;}
    50%  {background-color:khaki;}
    52%  {background-color:lightcoral;}
    54%  {background-color:lightcoral;}
    56%  {background-color:lightcoral;}
    58%  {background-color:lightcoral;}
    60%  {background-color:lightcoral;}
    62%  {background-color:lightcoral;}
    64%  {background-color:lightcoral;}
    66%  {background-color:lightcoral;}
    68%  {background-color:lightcoral;}
    70%  {background-color:lightcoral;}
    72%  {background-color:lightcoral;}
    74%  {background-color:lightcoral;}
    76%  {background-color:lightcoral;}
    78%  {background-color:lightcoral;}
    80%  {background-color:lightcoral;}
    82%  {background-color:lightcoral;}
    84%  {background-color:lightcoral;}
    86%  {background-color:lightcoral;}
    88%  {background-color:lightcoral;}
    90%  {background-color:lightcoral;}
    92%  {background-color:lightcoral;}
    94%  {background-color:lightcoral;}
    96%  {background-color:white;}
    98%  {background-color:white;}
    100%  {background-color:white;}
    }
@keyframes row7 {
    0%   {background-color:white;}
    2%  {background-color:white;}
    4%  {background-color:white;}
    6%  {background-color:white;}
    8%  {background-color:white;}
    10%  {background-color:white;}
    12%  {background-color:white;}
    14%  {background-color:khaki;}
    16%  {background-color:white;}
    18%  {background-color:white;}
    20%  {background-color:white;}
    22%  {background-color:white;}
    24%  {background-color:white;}
    26%  {background-color:white;}
    28%  {background-color:white;}
    30%  {background-color:white;}
    32%  {background-color:white;}
    34%  {background-color:khaki;}
    36%  {background-color:white;}
    38%  {background-color:white;}
    40%  {background-color:white;}
    42%  {background-color:white;}
    44%  {background-color:white;}
    46%  {background-color:white;}
    48%  {background-color:white;}
    50%  {background-color:white;}
    52%  {background-color:khaki;}
    54%  {background-color:white;}
    56%  {background-color:white;}
    58%  {background-color:white;}
    60%  {background-color:lightcoral;}
    62%  {background-color:lightcoral;}
    64%  {background-color:lightcoral;}
    66%  {background-color:lightcoral;}
    68%  {background-color:lightcoral;}
    70%  {background-color:lightcoral;}
    72%  {background-color:lightcoral;}
    74%  {background-color:lightcoral;}
    76%  {background-color:lightcoral;}
    78%  {background-color:lightcoral;}
    80%  {background-color:lightcoral;}
    82%  {background-color:lightcoral;}
    84%  {background-color:lightcoral;}
    86%  {background-color:lightcoral;}
    88%  {background-color:lightcoral;}
    90%  {background-color:lightcoral;}
    92%  {background-color:lightcoral;}
    94%  {background-color:lightcoral;}
    96%  {background-color:white;}
    98%  {background-color:white;}
    100%  {background-color:white;}
    }